@page
@model Teletime.Pages.Departamentos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento.NomeDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.NomeDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Departamento.IdDepartamento">Editar</a> |
    <a asp-page="./Index">Voltar para Lista</a>
</div>
