@page
@model Teletime.Pages.Cargos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cargo.NomeCargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo.NomeCargo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cargo.IdCargo">Editar</a> |
    <a asp-page="./Index">Voltar para Lista</a>
</div>
